*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    --colorFondoOscuro:#212529;
    --colorFondoOscuro2:#0c1821;
    --colorFondoClaro:#ffffff;
    background-color: var(--colorFondoClaro);
}
.radioButton{
    height: 20px;
    width: 60px;
    border-radius:20px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    background-color: #ddd6d6;
}
.radioButton-circle{
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:var(--colorFondoClaro);
    transition: .5s;
}
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.modeDL{
    transform: translateX(100px);
}
.calculadora{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 15px;
   display: flex;
   flex-direction: column;
    padding: 20px;
    gap: 15px;
    box-shadow: 13px 0px 20px 0px rgba(0,0,0,0.75);
    border: 1px solid #0000004b;

}
.display{
    height: 30%;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline:none;
    padding: 10px;
    font-size: 32px;
    color: #2904cf;
    box-shadow:6px 6px 15px #00000091 inset;
}
.key{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bn,button{
    height: 80px;
    flex-basis:100%;
    border-radius: 11px;
    border: none;
    font-size: 24px;
    box-shadow: 5px 5px 15px #00000091;
}

.grupo{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}
.grupo4{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.grupo-subGrupo{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.grupo-subGrupo-sub {
    display: flex;
    gap: 15px;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}


/*actives de cambio de color*/
.bodyActive{
    background-color: var(--colorFondoOscuro);
}
.radioButton-CircleActive{
    transition: .5s;
    transform: translateX(30px);
    background-color: #000000;
}
.calculadoraActive{
    background-color: var(--colorFondoOscuro2);
}

.botonActive{
    background-color: var(--colorFondoOscuro2);
    box-shadow: 5px 5px 15px #000;
    color: #ffffff;
}
.displayActive{
    background-color: var(--colorFondoOscuro);
    box-shadow:6px 6px 15px #000 inset;
    color: #ffffff;
}

.igual{
    height:100%;
    flex-basis: 80px;
    background-color:#06aed5;
    color: #ffffff;
    font-size: 34px;
}

.clean{
    background-color: #f00;
    color: #ffffff;
}

.su,.re,.mu,.di,.i{
    background-color: #0f0;
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    min-width:
}

@media screen and (min-width:430px) {
    .bn,button{
        height: 60px;
        flex-basis:70px;
    }
    .calculadora{
        width: 400px;
    }
    .contenedor{
        padding: 30px;
    }
    .grupo4{
        padding-right: 15px;
    }
    .igual{
        flex-basis: 90px;
    }

    .grupo-subGrupo-sub{
        padding-left: 15px;
    }
}